<div align="center" style="position:fixed;width:100%;height:100%;top:0;right:0;background:black;z-index:1000;-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=90)';filter:alpha(opacity=90);-moz-opacity:.9;opacity:.9;text-align:center;"><a href="https://github.com/cykhoo/freemyinternet"><img style="max-width:100%;" src="http://freemyinternet.com/free_my_internet.jpg" /></a></div>
</body>
